:root {
    --newport-blue: #1992D4;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

#sidebar {
    grid-column: 1 / 2;
    background-color: var(--newport-blue);
}

#main-container {
    background-color: #E2E8F0;
}