:root {
    --newport-blue: #1992D4;
    --solitude: #E2E8F0;
    --equal-columns: repeat(2, 1fr);
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-VariableFont_wght.ttf") format("ttf");
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    font-family: "Rubik", Arial, sans-serif;
}

h4 {
    margin: 0;
}

p {
    margin: 0;
}

li {
    list-style: none;
}

li > img,
button > img {
    height: 20px;
    width: 20px;
}

button {
    border: none;
    background-color: white;
    font: 700 14px "Rubik", Arial, sans-serif;
}

#sidebar {
    grid-column: 1 / 2;
    background-color: var(--newport-blue);
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding-left: 16px;
}

#title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 26px;
}

#title > img {
    height: 50px;
    width: 50px;;
}

header {
    display: grid;
    grid-template-columns: var(--equal-columns);
    grid-template-rows: var(--equal-columns);
}

#search-engine {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
}

input {
    width: 100%;
    height: 26px;
    background-color: var(--solitude);
    border: none;
    border-radius: 20px;
}

#profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#greetings {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 0 10px 20px;
}

#profile > img,
.user > img {
    background-color: var(--solitude);
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#greetings > img {
    background-color: var(--solitude);
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

#actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-inline-start: 0;
}

#actions > li > button {
    height: 30px;
    width: 80px;
    padding: 0;
    background-color: var(--newport-blue);
    border-style: none;
    border-radius: 20px;
    color: white;
}

#main-container {
    padding: 10px 30px 50px 20px;
    background-color: var(--solitude);
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#projects {
    display: grid;
    grid-template-columns: var(--equal-columns);
    gap: 26px;
}

.project {
    padding: 20px;
    background-color: white;
    border-left: 6px solid #F0B429;
    border-radius: 6px;
}

.project > ul {
    display: flex;
    justify-content: end;
    gap: 10px;
}

#announcements-container {
    margin: 0 0 36px 20px;
}

#announcements {
    padding: 20px 30px 20px 30px;
    background-color: white;
    border-radius: 6px;
}

.announcement {
    padding: 10px 0 10px 0;
}

.announcement:nth-child(-n + 2) {
    border-bottom: solid 1px lightgray;
}

#trending-container {
    margin-left: 20px;
}

#users {
    padding: 20px;
    background-color: white;
    border-radius: 6px;
}

.user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user:nth-child(-n + 3) {
    margin-bottom: 20px;
}
